<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Custom.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="Logo" src="~/Content/logo_book.png" alt="Website-Logo" />
                @Html.ActionLink("LibraryEDU", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="display:inline-block">@Html.ActionLink("Books", "Index", "Books")</li>
                    <li style="display:inline-block">@Html.ActionLink("Audio", "Index", "Audios")</li>
                    <li style="display:inline-block">@Html.ActionLink("Equipment", "Index", "Equipments")</li>
                    <li style="display:inline-block">@Html.ActionLink("Movies", "Index", "Movies")</li>
                    @if ((Session["Role"]?.ToString() == "1") || (Session["Role"]?.ToString() == "2"))
                    {
                        <li style="display:inline-block">@Html.ActionLink("Checkout", "Index", "Checkout")</li>
                        <li style="display:inline-block">@Html.ActionLink("Fees", "Index", "fees")</li>
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - Iliana Chevez</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
