@model LibraryWebApp.Models.book

@{
    ViewBag.Title = "Create";
}

<h2 class="create_head">Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="create_background">
        <h4 class="create_title">book</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="create_menu">
            @Html.LabelFor(model => model.book_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create_menu">
            @Html.LabelFor(model => model.book_title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create_menu">
            @Html.LabelFor(model => model.book_author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create_menu">
            @Html.LabelFor(model => model.book_publisher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_publisher, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_publisher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create_menu">
            @Html.LabelFor(model => model.book_genre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_genre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_genre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create_menu">
            @Html.LabelFor(model => model.book_length, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_length, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_length, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create_menu">
            @Html.LabelFor(model => model.last_checkout, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_checkout, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.last_checkout, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create_menu">
            @Html.LabelFor(model => model.last_return, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_return, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.last_return, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create_menu">
            @Html.LabelFor(model => model.last_transaction, "last_transaction", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("last_transaction", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.last_transaction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="create_menu">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Back to List", "Books/Index")">
        <img style="vertical-align:middle" src="~/Content/rectangle.png" width="50" height="40"  alt="Back to List" />
        <span style="vertical-align:middle" class="create_goback">Back to List</span>
</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
