@model LibraryWebApp.Models.book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.book_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_checkout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_checkout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_return)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_return)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkout_records.transaction_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkout_records.transaction_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.book_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
