@model IEnumerable<LibraryWebApp.Models.book>

@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

<p>
    @*@Html.ActionLink("Create New", "Create", null, new { @class = "underline" })*@
    <a href="@Url.Action("Create")" class="button-link-create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.book_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_checkout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_return)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="table_row">
        <td >
            @Html.DisplayFor(modelItem => item.book_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_checkout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_return)
        </td>
        <td>
            @if ((Session["Role"]?.ToString() == "1") || (Session["Role"]?.ToString() == "2"))
            {
                <a href="@Url.Action("Edit", new { id = item.book_id })" class="button-link-edit">Edit</a>
                @*  @Html.ActionLink("Edit ", "Edit", new { id = item.book_id }, new { @class = "underline" }) *@
                <a href="@Url.Action("Delete", new { id = item.book_id })" class="button-link-delete">Delete</a>
                @*   @Html.ActionLink("Delete ", "Delete", new { id = item.book_id }, new { @class = "underline" })*@
            }
            <a href="@Url.Action("Details", new { id = item.book_id })" class="button-link-detail">Details</a>
            @*   @Html.ActionLink("Details", "Details", new { id = item.book_id }, new { @class = "underline" })*@
        </td>
    </tr>
}

</table>
