@model IEnumerable<LibraryWebApp.Models.book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.book_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_checkout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_return)
        </th>
        <th>
            @if (User.IsInRole("Library Admin") || User.IsInRole("Library Staff"))
            {
                @Html.DisplayNameFor(model => model.checkout_records.transaction_id)
            }
        </th>
        <th>
            @if (User.IsInRole("Library Admin") || User.IsInRole("Library Staff"))
            {
                <p>Actions</p>
            }
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.book_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_checkout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_return)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkout_records.transaction_id)
        </td>
        <td>
            @if (User.IsInRole("Library Admin") || User.IsInRole("Library Staff"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.book_id })
                @Html.ActionLink("Delete", "Delete", new { id = item.book_id })
            }
            @Html.ActionLink("Details", "Details", new { id = item.book_id })
        </td>
    </tr>
}

</table>
