@model IEnumerable<LibraryWebApp.Models.movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<p>
    @*@Html.ActionLink("Create New", "Create", null, new { @class = "underline" })*@
    <a href="@Url.Action("Create")" class="button-link-create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.movie_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_checkout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_return)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="table_row">
        <td>
            @Html.DisplayFor(modelItem => item.movie_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movie_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movie_director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movie_genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.movie_length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_checkout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_return)
        </td>
        <td>
            @if ((Session["Role"]?.ToString() == "1") || (Session["Role"]?.ToString() == "2"))
            {
                @*@Html.ActionLink("Edit ", "Edit", new { id = item.movie_id }, new { @class = "underline" })*@
                <a href="@Url.Action("Edit", new { id = item.movie_id })" class="button-link-edit">Edit</a>
                @*  @Html.ActionLink("Delete ", "Delete", new { id = item.movie_id }, new { @class = "underline" }) *@
                <a href="@Url.Action("Delete", new { id = item.movie_id })" class="button-link-delete">Delete</a>
            }
            @*   @Html.ActionLink("Details", "Details", new { id = item.movie_id }, new { @class = "underline" }) *@
            <a href="@Url.Action("Details", new { id = item.movie_id })" class="button-link-detail">Details</a>
        </td>
    </tr>
}

</table>
