@model LibraryWebApp.Models.objects

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>objects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.object_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object_author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object_medium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_medium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object_genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object_length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objects_type.type_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objects_type.type_desc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
