@model LibraryWebApp.Models.objects

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Objects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.object_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object_author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object_medium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_medium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object_genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object_length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object_length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objects_type.type_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objects_type.type_desc)
        </dd>

    </dl>
</div>
<p>
   
    @if ((Session["Role"]?.ToString() == "1") || (Session["Role"]?.ToString() == "2"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.object_id }) 
    }

@Html.ActionLink("Back to List", "Index")
</p>
