@model IEnumerable<LibraryWebApp.Models.objects>

@{
    ViewBag.Title = "Index";

}

<h2>Browse Catalog</h2>

<p>
    @if ((Session["Role"]?.ToString() == "1") || (Session["Role"]?.ToString() == "2"))
    {
        @*@Html.ActionLink("Create New", "Create")*@
        <a href="@Url.Action("Create")" class="button-link-create">Create New</a>

    }
</p>

@using (Html.BeginForm())
 {
     <p class="form-login-input">
         Find by Title: @Html.TextBox("SearchString")
         <input type="submit" value="Search" />
     </p>
 }
          


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new {sortOrder = ViewBag.TitleSortParm})
        </th>
        <th>
            Author
        </th>
        <th>
            Medium
        </th>
        <th>
            Genre
        </th>
        <th>
            Length
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="table_row">
        <td>
            @Html.DisplayFor(modelItem => item.object_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.object_author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.object_medium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.object_genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.object_length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objects_type.type_desc)
        </td>
        <td>
            @if ((Session["Role"]?.ToString() == "1") || (Session["Role"]?.ToString() == "2"))
            {
                @*@Html.ActionLink("Edit ", "Edit", new { id = item.movie_id }, new { @class = "underline" })*@
                <a href="@Url.Action("Edit", new { id = item.object_id })" class="button-link-edit">Edit</a>
                @*  @Html.ActionLink("Delete ", "Delete", new { id = item.movie_id }, new { @class = "underline" }) *@
                <a href="@Url.Action("Delete", new { id = item.object_id })" class="button-link-delete">Delete</a>
            }
            @*   @Html.ActionLink("Details", "Details", new { id = item.movie_id }, new { @class = "underline" }) *@
            <a href="@Url.Action("Details", new { id = item.object_id })" class="button-link-detail">Details</a>
        </td>
    </tr>
}

</table>
