@model LibraryWebApp.Models.checkout_records

@{
    ViewBag.Title = "Create";
}
<head>
    <style>
        .form-control[readonly] {
            background-color: #f8f8f8; 
            cursor: not-allowed; 
        }
    </style>
</head>
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Checkout Records</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.user_id, "Select Username:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("user_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(model => model.object_id, "Select Item to Checkout:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("object_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.object_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>
        <div class="form-group">
            @Html.LabelFor(model => model.create_date, "Checkout Date:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.create_date, new { @class = "form-control", @readonly = "readonly", @Value = DateTime.Now.ToString("MM-dd-yyyy") })
                @*@Html.EditorFor(model => model.create_date, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.create_date, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>



        <!--<div class="form-group">
            @Html.LabelFor(model => model.return_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">-->
        @*@Html.EditorFor(model => model.return_date, new { htmlAttributes = new { @class = "form-control" } })*@

        <!--@Html.ValidationMessageFor(model => model.return_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.due_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.due_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.due_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.is_late, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.is_late)
                    @Html.ValidationMessageFor(model => model.is_late, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>-->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
